<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Year</th>
                <th>Employer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.year}"></td>
                <td th:text="${user.employer}"></td>
                <!--<td><a th:href="@{'user-update?id='+${user.id}}">Edit</a></td>
                <td><input type="submit"  th:method="DELETE" th:action="@{'user-delete?id='+${user.id}}" value="Delete"></td>
                <td><a type="hidden" th:method="DELETE" th:href="@{'user-delete?id='+${user.id}}">Delete</a></td>-->
                <td>
                    <form th:action="@{'user-delete?id='+${user.id}}" th:method="DELETE">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{'user-update?id='+${user.id}} " th:method="GET">
                        <input type="hidden" name="id" th:value="${user.id}"/>
                        <button type="submit">Edit</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Create user</a></p>
</div>
</body>
</html>