<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Create user</title>

<body>
<form th:method="PUT" action="#" th:action="@{/user-create}" th:object="${user}" >
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <label for="year">Year</label>
    <input type="text" th:field="*{year}" id="year" placeholder="Year">
    <label for="employer">Employer</label>
    <input type="text" th:field="*{employer}" id="employer" placeholder="true/false">
    <input type="submit" value="Create User">
</form>
</body>
</html>